{% extends 'base.html' %}

{% load static %}

{% block title %}
About Joespy
{% endblock title %}

{% block content %}
<h2>page: {{name}}</h2>

<div class="card" style="width: 18rem;">
    <img src="{% static 'images/bst-stack.png' %}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
            content.</p>
        <a href="{% url 'home' %}" class="btn btn-dark">Home</a>
    </div>
</div>

{% endblock content %}